

.footer{
    background-color: var(--darkGrey);
}
.footer_items{
    padding: 5px 0;
    text-align: center;
}
.footer_items h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}
.footer_items span{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}