

.header {
    width: 100%;
    max-width: 50%;
    margin: 10px auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.header_items {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}
.search_value {
    width: 250px;
    height: 35px;

    padding: 0 8px;

    outline: none;
    border: none;
    background: none;

    color: var(--White);
}
.search_value::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--White);
    letter-spacing: 1px;
}
.search_button {
    margin: 0 8px;

    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.fa-magnifying-glass {
    font-size: 18px;
    color: var(--White);
    opacity: 90%;

    cursor: pointer;
}