

.main {
    width: 100%;
}
.main_items {
    width: 100%;
    max-width: 50%;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_items img {
    width: 300px;
    height: auto;
}
.info_pokemon {
    width: 100%;
    padding: 0 10px;
}
.info_type_id_name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    column-gap: 5px;
}
.info_type_id_name img {
    width: 60px;
    height: 60px;
}
.id_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.height, .weight, .abilities {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 10px;
}
.main.error {
    display: none;
}
