

.second_card_section{
    width: 450px;
}
.stats_pokemon{
    border-radius: 20px;
    padding: 25px;
}
#stats_title h1{
    padding-bottom: 30px;

    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: var(--darkGrey);
}

#hp_pokemon, #attack_pokemon, #defense_pokemon, #speed_pokemon, 
#sp_attack_pokemon, #sp_defense_pokemon, #xp_pokemon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hp_pokemon h1, #attack_pokemon h1, #defense_pokemon h1, #speed_pokemon h1, 
#sp_attack_pokemon h1, #sp_defense_pokemon h1, #xp_pokemon h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--darkGrey);

    padding-bottom: 12px;
}

#hp_pokemon h2, #attack_pokemon h2, #defense_pokemon h2, #speed_pokemon h2, 
#sp_attack_pokemon h2, #sp_defense_pokemon h2, #xp_pokemon h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: var(--darkGrey);
}