
@media (max-width: 790px) {
    .header {
        max-width: 100%;
    }


    .main_items {
        max-width: 100%;
    }
    .main_items img {
        width: 200px;
    }
    .height, .weight, .abilities {
        justify-content: space-between;
    }
    .info_type_id_name img {
        width: 60px;
        height: auto;
    }
    .id_name h1 {
        font-size: 40px;
    }


    .stats_pokemon {
        max-width: 100%;
    }
}